@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --main-color: #969696;
    --second-color: #fff;
    --icon-color: #8E7754;
    --h-color: #303030;
    --p-color: #686868;
}
body{
    font-family: "Open Sans", sans-serif;

}
h1,h2,h3{
     font-family: "Playfair Display", serif;
}
.nav-bar{
display: grid;
grid-template-areas: 
"item1 item2";
padding: 0 80px;
}
a{
    text-decoration: none;
    color: var(--second-color);
}
ul{
    list-style: none;
}
.logo{
    width: 100%;
    grid-area: item1;
}
.list{
    grid-area: item2;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.section1{
    background-image: url(../images/drew-coffman-1872.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
}
.content{
    height: 500px;
    display: grid;
    grid-template-areas: 
    "item1 item1"
    "item2 item2"
    "item3 item3"
    "item4 item4";
    justify-items: center;
    align-items: center;
    align-content: center;
    gap: 25px;
    color: var(--second-color);
    text-align: center;
    line-height: 40px;
    
    
}
.item1{
    grid-area: item1;
}
.item2{
    grid-area: item2;
}
.item3{
    grid-area: item3;
}
.btn{
    display: flex;
    column-gap: 20px;
    grid-area: item4;
}
.button{
    width: 110px;
    height: 50px;
    border-radius: 4px;
}
.btn1{
    border: none;
    background-color: var(--icon-color);
    color: var(--second-color);
}
.btn1:hover{
    background-color: var(--second-color);
    color: black;
}
.btn2{
    background: none;
    color: var(--second-color);
    border: 2px var(--second-color) solid;
}
.btn2:hover{
    background-color: var(--second-color);
    color: black;
}
.section2{
height: 100vh;
background-color: var(--second-color);
display: flex;
padding: 20px;
margin: 50px;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.box{
    display: flex; 
    padding: 30px;
}
.paragraph{
    display: flex;
    flex-direction: column;
    gap: 18px; 
    padding: 5px;
}
.text{
    padding: 50px;
    line-height: 40px;
}
.icons button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border-color: var(--main-color);
    border-width: 1px;
}
.section2 img{
    width: 100%;
}
@media (max-width:600px){
.nav-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.list{
    display: flex;
    flex-direction: column;
}
.logo{
   display: flex;
   justify-content: center;
}
.section2{
    display: flex;
    flex-direction: column;
    align-items:start;
    padding:10px
    
    

}
.paragraph{
    gap: 28px; 
    padding: 5px;
}
.icons {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
    
}